@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url("http://weloveiconfonts.com/api/?family=fontawesome");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #3c5977;
  background: radial-gradient(ellipse at center center, #7799bb 0%, #3c5977 100%);
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  background: url("http://abload.de/img/map75bds72.png") center center no-repeat;
}
